<launch>
  <arg name="input" default="/remote/openni_camera/rgb/image_rect_color" />
  <arg name="threshold" default="0.3" />

  <node name="deep_flow"
        pkg="nodelet" type="nodelet"
        args="standalone online_data_generator/DeepFlow"
        output="screen">
    <remap from="~input" to="$(arg input)" />
    <rosparam>
      threshold: $(arg threshold)
    </rosparam>
  </node>

</launch>
